*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* position: absolute;
    top: 0px;
    left: 0px; */
    /* *********************header***************** */
}
header{
    /* border: 2px solid black; */
    /* display: flex; */
    background-color: #0065c3;
    position: sticky;
    top: 0%;
    max-width: 100%;
    max-height: 100vh;
}
ul{
    display: flex;
    padding: 5px 30px 5px 5px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
}
#view-prod{
    background-color: #0065c3;
    border: none;
    color: white;
}
#view-prod:hover{
    cursor: pointer;
}
ul li img{
    transition: all 0.2s ease-in-out;
}
ul li img:hover{
    transform: rotate(360deg);
}
/* *******************body*************************** */
#apple_music_container{
    
    background: url(./assets/background.png);
    height: 610px;
    width: 100%;
    /* max-height: 100vh; */
    /* max-width: 100%; */
    display: flex;
}
#bottle_apple_music{
    background: url(./assets/pzs-can-old.png) no-repeat;
    background-size:auto 550px;
    width: 530px;
    height: 510px;
    /* position: relative; */
    /* border: 2px solid black; */
    display: flex;
    margin:100px -80px;
}
#unlock_music{
    background: url(./assets/apple-music-lockup-small-mobile.svg) no-repeat ;
    background-size:auto 280px;
    width: 410px;
    height: 480px;
    /* display: flex; */
    margin:130px 0px 0px 180px;
    /* border: 2px solid black; */
}
 
.button input{
    margin: 320px 0px 0px 135px;
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 50px;
    font-weight: bolder;
    background-color: transparent;
    color: white;
}

.button input:hover{
    background-color: white;
    color: #0065c3;
    cursor: pointer;
}

.button p{
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 25px;
}
.button p a{
    text-decoration: none;
    color: white;
}

#better_with_pepsi{
    display: flex;
    width: 100%;
    height: 450px;
    background-color: #265cc5;
}

.container_1{
    /* border: 2px solid black; */
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container_2{
    /* border: 2px solid red; */
    width: 65%;
    height: 100%;
}

.inside_container{
    /* border: 2px solid black; */
    width: 80%;
    height: 37%;

}
#inside1{
    margin: 0px;
    display: flex;
    flex-direction: column;

}
#inside1 .txt{
    background-color:#1437bf;
    /* border: 2px solid black; */
    margin: 0px;
    /* padding: 20px 20px; */
    display: block;
    width: 100%;
    height: 25%;
    text-align: center;
    padding-top: 2px;
    font-weight: bolder;
    color: white;
}
#inside2{
    display: flex;
    flex-direction: column;
}
#inside2 .txt{
    background-color:#1437bf;
    /* border: 2px solid black; */
    margin: 0px;
    /* padding: 20px 20px; */
    display: block;
    width: 100%;
    height: 25%;
    text-align: center;
    padding-top: 2px;
    font-weight: bolder;
    color: white;
}
.inside_container .txt:hover{
    cursor: context-menu;
}

.container_2{
    background: url(./assets/PEP_BWP_D.jpg) no-repeat;
    width: 100%;
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.container_2 img{
    width: 350px;
    height: 130px;
    /* border: 2px solid black; */

}










/* .container{
    background-color:aqua;
    border: 2px solid black;
    height: 800px;
    width: 100%;
} */